<app-header-admin></app-header-admin>

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row flex-nowrap">
        <div class="col-2 px-0 d-none d-lg-block"> <!-- Réduit la largeur du menu -->
            <app-menu-client></app-menu-client>
        </div>
        <div class="col mt-4">
            <div class="container card p-3">
              <div *ngIf="isLoading">Chargement...</div>
                <div *ngIf="!isLoading && user">
                  <ng-container *ngIf="isNewClient(); else existingClient">
                    <div>
                      <h1>Créer un nouveau client</h1>
                      <form [formGroup]="clientForm" (ngSubmit)="submitNewClient()">
                        <label for="clientName">Nom:</label>
                        <input id="clientName" formControlName="name" />
                        <div *ngIf="clientForm.get('name')?.invalid && (clientForm.get('name')?.touched || clientForm.get('name')?.dirty)">
                          <small *ngIf="clientForm.get('name')?.errors?.['required']">Le nom est requis.</small>
                        </div>

                        <label for="clientLastName">Prénom:</label>
                        <input id="clientLastName" formControlName="lastName" />
                        <div *ngIf="clientForm.get('lastName')?.invalid && (clientForm.get('lastName')?.touched || clientForm.get('lastName')?.dirty)">
                          <small *ngIf="clientForm.get('lastName')?.errors?.['required']">Le prénom est requis.</small>
                        </div>

                        <label for="clientCin">CIN:</label>
                        <input id="clientCin" formControlName="cin" />
                        <div *ngIf="clientForm.get('cin')?.invalid && (clientForm.get('cin')?.touched || clientForm.get('cin')?.dirty)">
                          <small *ngIf="clientForm.get('cin')?.errors?.['required']">Le CIN est requis.</small>
                          <small *ngIf="clientForm.get('cin')?.errors?.['minlength']">Le CIN doit contenir au moins 8 caractères.</small>
                          <small *ngIf="clientForm.get('cin')?.errors?.['maxlength']">Le CIN ne peut pas dépasser 16 caractères.</small>
                        </div>

                        <label for="clientAddress">Adresse:</label>
                        <input id="clientAddress" formControlName="address" />
                        <div *ngIf="clientForm.get('address')?.invalid && (clientForm.get('address')?.touched || clientForm.get('address')?.dirty)">
                          <small *ngIf="clientForm.get('address')?.errors?.['required']">L'adresse est requise.</small>
                        </div>

                        <label for="clientGender">Genre:</label>
                        <select id="clientGender" formControlName="gender">
                          <option value="">Sélectionnez</option>
                          <option *ngFor="let gender of genders" [value]="gender.genderName">
                            {{ gender.genderName }}
                          </option>
                        </select>

                        <button type="submit" [disabled]="clientForm.invalid">Créer le client</button>
                      </form>
                    </div>

                  </ng-container>

                  <ng-template #existingClient>
                    <h1>Détails du client enregistré</h1>
                    <div *ngFor="let member of user.member">
                      <p>ID: {{ member.email }}</p>
                      <p>Nom: {{ member.roles }}</p>
                      <p>Email: {{ member.createdAt | date }}</p>
                    </div>
                  </ng-template>
                </div>

            </div>
        </div>
    </div>
    <app-loader *ngIf="isLoading"></app-loader>
</div>
