<app-header-admin></app-header-admin>

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row flex-nowrap">
        <div class="col-2 px-0 d-none d-lg-block"> <!-- Réduit la largeur du menu -->
            <app-menu-client></app-menu-client>
        </div>
        <div class="col mt-4">
            <div class="container card p-3">
                <p>
                    test
                </p>
            </div>
        </div>
    </div>
    <app-loader *ngIf="isLoading"></app-loader>
</div>
