<div class="bg-light d-flex align-items-center justify-content-center min-vh-100">
  <div class="bg-white shadow-lg rounded p-4 p-md-5 max-w-md text-center">
    <h1 class="display-4 text-danger mb-4">Erreur Système</h1>
    <p class="text-muted mb-4">Nous rencontrons actuellement des problèmes techniques. Veuillez réessayer plus tard.</p>
    <p class="text-secondary mb-4">Veuillez communiquer avec un administrateur si le problème persiste.</p>
    <div class="mb-4">
        <img src="/assets/img/breakdown.png" alt="Erreur" class="img-fluid mx-auto mb-4" width="50">
    </div>
    <button class="btn btn-danger btn-lg">
        Retour à l'accueil
    </button>
  </div>
</div>
