.carousel-inner {
  position: relative;
  height: 600px; /* Ajustez la hauteur souhaitée pour le carrousel */
}

.carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Animation de fondu */
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel-item.active {
  opacity: 1; /* L'élément actif est entièrement visible */
}

.carousel-item img {
  width: 100%;
  height: 100%; /* Rendre l'image pleine hauteur */
  object-fit: cover; /* Garder l'image proportionnelle */
}


.carousel-control-prev,
.carousel-control-next {
  width: 50px; /* Largeur des boutons */
  height: 50px; /* Hauteur des boutons */
  background-color: rgba(93, 46, 223, 0.8); /* Fond blanc semi-transparent */
  border-radius: 50%; /* Coins arrondis */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre pour donner du relief */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Effets de transition */
}

.carousel-control-prev {
  left: 20px; /* Ajustez la position horizontale */
}

.carousel-control-next {
  right: 20px; /* Ajustez la position horizontale */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(49, 0, 228, 0.829); /* Couleur de fond au survol */
  transform: scale(1.1); /* Agrandir légèrement le bouton au survol */
}

/* Centrage vertical */
.carousel-control-prev,
.carousel-control-next {
  top: 50%; /* Position verticale au centre */
  /* transform: translateY(-50%); Ajustement pour centrer exactement */
}


.carousel-item.fading {
  opacity: 0; /* Cache l'élément lorsqu'il est en train de disparaître */
  transition: opacity 1s ease-in-out; /* Animation de fondu */
}
