<div class="form-wrapper">
  <div class="form-container">
    <h2 class="form-title">Inscription</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- Champ Email -->
      <div class="form-field">
        <input type="email" id="email" formControlName="email" required placeholder=" ">
        <label for="email">{{staticTextFr.email}}</label>
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
          Un email valide est requis.
        </div>
      </div>

      <!-- Champ Mot de passe -->
      <div class="form-field">
        <input type="password" id="password" formControlName="password" required placeholder=" ">
        <label for="password">{{staticTextFr.password}}</label>
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
          Le mot de passe est requis (minimum 8 caractères) et doît correspondre à la mots de passe de confirmation.
        </div>
      </div>

      <!-- Champ Confirmation du mot de passe -->
      <div class="form-field">
        <input type="password" id="password_confirmation" formControlName="password_confirmation" required placeholder=" ">
        <label for="password_confirmation">{{ staticTextFr.passwordConfirmation }}</label>
        <div *ngIf="registerForm.get('password_confirmation')?.invalid && registerForm.get('password_confirmation')?.touched" class="error-message">
          La confirmation du mot de passe est requise et doît être pareil que celle du mots de passe entrer en haut.
        </div>
      </div>

      <!-- Sélecteur de genre -->



      <!-- Bouton d'inscription -->
      <button type="submit" class="submit-button" [disabled]="registerForm.invalid">S'inscrire</button>
    </form>

    <!-- Alert for feedback -->
    <ng-container *ngIf="showModal">
      <div class="alert alert-success alert-dismissible fade show m-4" role="alert">
        <strong>{{ modalTitle }}</strong> {{ modalMessage }}
        <button type="button" class="btn-close" (click)="showModal = false" aria-label="Close"></button>
      </div>
    </ng-container>

    <!-- end feedback -->
    <div class="reset-password">
      <a href="#" class="reset-password-link">{{staticTextFr.passwordForgotten}}</a>
      <a routerLink="/"  class="reset-password-link">Retour à l'acceuil</a>
      <a routerLink="/login"  class="reset-password-link">{{staticTextFr.login}}</a>
    </div>
  </div>
</div>


<app-loader *ngIf="isLoading" ></app-loader>
