<div id="sidebar" class="d-none d-lg-block sticky">
  <div id="sidebar-nav" class="list-group">
    <div ngbAccordion #acc="ngbAccordion">
      <div ngbAccordionItem *ngFor="let g of menus" [id]="g.name">
        <div ngbAccordionHeader>
          <button ngbAccordionButton>
            <i [class]="g.icon" class="me-2"></i>
            <p class="my-3 ms-2">{{ g.name }}</p>
          </button>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <div class="list-group" *ngFor="let m of g.menus; trackBy: trackByFn">
              <a [routerLink]="m.link" class="btn text-decoration-none text-start"
                 [ngClass]="m.isSelected ? 'btn-primary' : 'btn-link'">
                <i [class]="m.icon" class="me-2"></i>
                <span>{{ m.displayName }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
