<app-header></app-header>

<app-image-carroussel></app-image-carroussel>
<div class="container my-5">

  <section id="about" class="mb-4 bg-white shadow rounded p-4">
    <h2 class="h2 mb-3">À Propos de Nous</h2>
    <p class="text-muted mb-3">
      Basés au cœur de la région d'Antsohihy, nous sommes votre partenaire de confiance pour l'approvisionnement en riz de qualité supérieure. En tant que grossistes, nous nous engageons à sélectionner les meilleurs grains, cultivés par des producteurs locaux passionnés.
    </p>
    <p class="text-muted mb-3">
      Notre mission est double : vous offrir des produits frais et savoureux tout en contribuant au développement de l'agriculture locale. Nous croyons fermement que la qualité du riz commence dans les champs, c'est pourquoi nous travaillons main dans la main avec les agriculteurs pour garantir des pratiques durables et respectueuses de l'environnement.
    </p>
    <p class="text-muted mb-3">
      Grâce à nos relations privilégiées avec les producteurs, nous garantissons des prix compétitifs et une traçabilité complète de nos produits. Nous croyons que chaque grain de riz a une histoire, et nous sommes fiers de la partager avec nos clients. Que vous soyez un restaurateur, un détaillant ou un particulier, notre équipe est dévouée à répondre à vos besoins en matière de riz.
    </p>
    <p class="text-muted">
      En choisissant de travailler avec nous, vous soutenez non seulement l'économie locale, mais vous participez également à un mouvement vers une agriculture plus durable et responsable. Nous sommes impatients de bâtir une relation de confiance avec vous et de vous fournir le meilleur riz qui soit.
    </p>
  </section>
</div>

<app-loader *ngIf="isLoading"></app-loader>

<app-footer></app-footer>
