<div class="modal-header">
  <h4 class="modal-title">Modification du Client</h4>
  <button type="button" class="btn-close" (click)="modalService.dismissAll()" aria-label="Close"></button>

</div>
<div class="modal-body">
  <form [formGroup]="clientForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="address">Adresse</label>
      <input type="text" id="address" formControlName="address" class="form-control" required />
    </div>
    <!-- Ajoutez d'autres champs de formulaire ici -->
    <button type="submit" class="btn btn-primary" [disabled]="clientForm.invalid" style="margin-top: 5px;">Sauvegarder</button>
  </form>
</div>
